.choice-section {
  padding-top: 90px;
  padding-bottom: 50px;
  background: #264F6E;
}

.choice {
  margin-left: 50px;
}

.choice-header {
  padding-bottom: 50px;
  font-size: 25px;
  color: #fff;
}

.choice-number {
  font-size: 40px;
  color: #fff;
}

.choice-text {
  padding-bottom: 50px;
  font-size: 16px;
  color: #E1E1E1;
}
