.city-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.city-header {
  padding-bottom: 10px;
}

.city {
  width: 50%;
  margin: 0 auto;
}

.city-image {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
