@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.city-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.city-header {
  padding-bottom: 10px;
}

.city {
  width: 50%;
  margin: 0 auto;
  @media only screen and (min-width: 501px) {
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .text-container {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
    }
    .city-header {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

.city-image-container {
  @media only screen and (min-width: 501px) {
    height: 20rem;
    border: 1px solid red;
  }
}

.city-image {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  @media only screen and (min-width: 501px) {
    margin-right: 1rem;
    height: 18vw;
  }
}
