@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.commercial-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.commercial-header {
  padding-bottom: 10px;
    @media only screen and (min-width: 501px) {
      font-size: 2.5rem;
    }
}

.commercial {
  width: 50%;
  margin: 0 auto;
  @media only screen and (min-width: 501px) {
    width: 50%;
    display: flex;
    justify-content: center;
    .commercial-text-container {
      width: 25%;
      font-family: 'Roboto';
      h1 {
        margin-left: 2rem;
      }
      p {
        width: 60%;
        margin-left: 2rem;
      }
    }
  }
}

.commericial-image-container {
  @media only screen and (min-width: 501px) {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-right: 2rem;
  }
}
.commercial-image {
  width: 100%;
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
    @media only screen and (min-width: 501px) {

    }
}
