.commercial-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.commercial-header {
  padding-bottom: 10px;
}

.commercial {
  width: 50%;
  margin: 0 auto;
}

.commercial-image {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
