.contact-section {
  background: #F7F8F9;
  padding-top: 50px;
}

.contact {
  border: 1px solid blue;
  width: 80%;
  background: #fff;
}

.contact-form {
  margin: 0 auto;
  width: 95%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-header {
  font-size: 18px;
}



.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.contact-label {
  padding-bottom: 10px;
  font-size: 13px;
}

.message {
  padding-bottom: 25px;
}
