.contact-section {
  background: #F7F8F9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-area {
  width: 80%;
  background: #fff;
}

.contact-form {
  margin: 0 auto;
  width: 95%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-header {
  font-size: 18px;
}



.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.contact-label {
  padding-bottom: 10px;
  font-size: 13px;
}

.message {
  padding-bottom: 25px;
}

.consent-container {
  margin-top: 20px;
}

.consent {
  margin: 20px 0;
}

.inquiries {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 10px;

  h1,h2,p {
    margin-left: 10px;
  }

  h1 {
    padding-bottom: 10px;
  }

  h2 {
    padding-bottom: 10px;
  }
}

.tech-text {
  padding-top: 25px;
}

.manager {
  padding-bottom: 25px;
  p {
    padding-bottom: 5px;
  }
}

.business {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  h2, p {
    margin-left: 10px;
  }
  h2 {
    padding-bottom: 5px;
  }
}
