.footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 50px;
  background: #264F6E;
  @media only screen and (min-width: 501px) {
    flex-direction: row;
  }

  h2 {
    color: #F3E1E1;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a {
    color: #fff;
    padding-bottom: 10px;
  }

  p {
    color: #fff;
    padding-bottom: 10px;
  }
}

.discover {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  @media only screen and (min-width: 501px) {
    border: 1px solid black;
    display: grid;
    width: 50%;
    h2 {
      border: 1px solid black;
      margin: 0 auto;
    }

    a {
      margin: 0 auto;
    }
  }
}

.contact {
  margin-left: 50px;
  @media only screen and (min-width: 501px) {
    display: grid;
    width: 50%;
    a {
      text-decoration: none;
      margin: 0 auto;
      margin-top: 30px;
    }
    p {
      margin: 0 auto;
    }
  }
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #00335A;
  @media only screen and (min-width: 501px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    .copyright {
      margin-right: 4vw;
    }
    .logo {
      width: 10vw;
    }
  }
}

.copyright {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
