.footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 50px;
  background: #264F6E;

  h2 {
    color: #F3E1E1;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a {
    color: #fff;
    padding-bottom: 10px;
  }

  p {
    color: #fff;
    padding-bottom: 10px;
  }
}

.discover {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.contact {
  margin-left: 50px;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #00335A;
}

.copyright {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
