.App-header {
  background: #004274;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  @media only screen and (min-width: 501px) {
    background: #fff;
    height: 100px;
  }
  .header-nav {
    display: none;
      @media only screen and (min-width: 501px) {
        display: flex;
        justify-content: center;
        width: 50vw;
        color: #8D8D8F;
        a {
          margin-right: 2vw;
          margin-top: 1vw;
          font-size: 18px;
        }
        .agent {
          margin-right: 1vw;
          width: 10%;
          color: #8D8D8F;
          text-decoration: none;
        }
        h3 {
          margin-right: 2vw;
          margin-top: 1vw;
          width: 8%;
        }
        button {
          font-size: 18px;
          margin-top: 1.4vh;
          width: 7vw;
          height: 3vh;
          display: block;
          background: #95B3E9;
          color: #fff;
          text-transform: uppercase;
        }
      }
  }
}

.logo {
  width: 40%;
  height: auto;
  align-self: center;
  @media only screen and (min-width: 501px) {
    width: 25%;
  }
}

button {
  background: #004274;
  border: none;
  color: #fff;
  @media only screen and (min-width: 501px) {
    display: none;
  }
}
