.listing-section {
  background-color: #F7F8F9;
  padding-bottom: 20px;
}

.listing {
  width: 75%;
  margin: 0 auto;
  border: 1px solid red;
}

.listing-form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.listing-search {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.listing-section h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
}

.listing-section p {
  text-align: center;
}


.listing-img {
  margin-top: 20px;
  color: white;
  padding: 15px;
  background: url('./assets/cropped-house.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.featured-listing {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
  -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
  box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
}

.bottom-info {
  padding: 20px 15px;
}
