.property-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.property-header {
  padding-bottom: 10px;
}

.property-main {
  width: 50%;
  margin: 0 auto;
}

.property-image {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
