.residential-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.residential-header {
  padding-bottom: 10px;
}

.residential {
  width: 50%;
  margin: 0 auto;
}

.residential-image {
  min-height: 200px;  
}
